<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Battleship</h1>

    <form method="POST" action="new_board">
        <%= csrf_token_field %>

        <h4> Create your board!</h4>

          <div>
            Number of columns:
            <input type="text" name="x" />
          </div>
          <div>
            Number of rows:
            <input type="text" name="y" />
          </div>

          <div>
            <button type="submit" class="btn btn-success" id="submit_board">Create</button>
            You created a board with: <%= @x %> columns and <%= @y %> rows.
          </div>
    </form>


      <form method="POST" action="occupied_position">
        <%= csrf_token_field %>

        <h4> Check if a position is occupied </h4>
        <div>
          X coord: <input type="text" name="is_occupied_x" />
        </div>
        <div>
          Y coord: <input type="text" name="is_occupied_y" />
        </div>
        <button type="submit" class="btn btn-success" id="submit_occupied_position">Check</button>
      </form>

      <% if @inform_occupied.present? %>
          <%= @inform_occupied %>
      <% end %>


      <form method="POST" action="put_small_ship">
        <%= csrf_token_field %>
            <h4>Create a small ship at:</h4>
        <div>
          X coord: <input type="text" name="small_ship_x" />
        </div>
        <div>
          Y coord: <input type="text" name="small_ship_y" />
        </div>

        <div>
          <button type="submit" class="btn btn-success" id="put_small_ship">Put</button>
        </div>
      </form>


      <% if @inform_small_ship.present? %>
          <%= @inform_small_ship %>
      <% end %>

      <form method="POST" action="put_large_ship">
        <%= csrf_token_field %>
        <h4>Create a large ship at:</h4>
        <div>
          X coord: <input type="text" name="large_ship_x" />
        </div>
        <div>
          Y coord: <input type="text" name="large_ship_y" />
        </div>

        <div>
          <button type="submit" class="btn btn-success" id="put_large_ship">Put</button>
        </div>
      </form>


      <% if @inform_small_ship.present? %>
        <%= @inform_small_ship %>
      <% end %>

</body>
</html>
